header{
    background-color: var(--bg-dark-1100);
    box-shadow: var(--dark-shadow);
}
nav{
    color: white;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
nav ul.nav-list{
    display: flex;
    list-style: none;
}
.link-nav, .link-nav:visited, .link-nav:link{
    display:flex;
    gap: 4px;
    color: var(--bright-900);
    text-decoration: none;
    padding: 1rem;
}
.unlogged{
    box-sizing: border-box;
    padding-left:0rem;
}
.link-nav:hover{
    color: var(--bright-1000);
    transition: 0.3s ease;
}
.logo{
    background-image: url(../../../public/images/logo40160.png);
    height: 40px;
    width: 160px
}