.speech-bubble{
   box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
   -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
   -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);

   font-size: smaller;
   color: var(--bright-1000);
}