*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-dark-900);
}

.container{
    width: 55%;
    margin: auto;
    padding: 2rem;
    color: #F3E8EE;
    background-color: var(--bg-dark-700);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);
    border-radius: 4px;
    margin: 2rem;
}

:root{

    /* Measures */
    --width: 63%; /* 63 L, 75 M, 90 S */





    --bg-dark-1100: #070707;
    --bg-dark-900: #121212;
    --bg-dark-700: #1F1F1F;
    --dark-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);

    --bright-1100: #f2f4fc; /*Bright*/
    --bright-900: #a3a3a3; /*A little darker*/
    --bright-700: #808086; /*Could be for disable*/

}

.screen-width{
    width: var(--width);
    margin: 0 auto;
    border-color: red;
}