*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--g1), var(--g2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--g1), var(--g2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    width: 100%;
    margin: auto;
    padding: 1rem;
    color: #F3E8EE;
    background-color: rgb(19, 19, 20);
    border-radius: 8px;
}

.trade-petition-border{
    background-color: red;
    width: var(--width);
    padding: 1px;
    margin: 1rem auto;
    border-radius: 8px;
    background: var(--main-1100);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--main-700), #244d53);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--main-700), #244d53); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    background-size: 400% 400%;
    animation: animatebg 15s ease infinite;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 0px 5px 4px rgb(0 0 0 / 40%); 
}

.box-shadowed{
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.8);
}

:root{

    --width: 60%; /* 65 L, 75 M, 90 S */

    --g1: #161d24;
    --g2: #080e13;

    --shadow-bright-container: rgb(7 34 32 / 17%);
    --item-bg: rgb(25,26,27);

    --bg-dark-1100: #070707;
    --bg-dark-1050: #0c0c0c;
    --bg-dark-1000: #111111;
    --bg-dark-900: #121212;
    --bg-dark-700: #1F1F1F;
    --bg-dark-500: #313131;

    --dark-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);


    --bright-1100: #f2f4fc; /*Bright*/
    --bright-1000: #dadbe1;
    --bright-900: #c2c2c2; /*A little darker*/
    --bright-700: #808086; /*Could be for disable*/

    --main-1100: rgb(56, 182, 255);
    --main-1000: rgb(52, 160, 222);
    --main-900: rgb(37, 125, 176);
    --main-700: rgb(19, 65, 91);

    --danger-700: rgb(235, 89, 89);
    --danger-900: rgb(235, 62, 62);

    /* Skin Rarity                             Sticker rarity */
    --csgo-Consumer: rgb(176, 195, 217);    --csgo-Base: rgb(176, 195, 217); 
    --csgo-Industrial: rgb(94, 152, 217);   --csgo-Medium: rgb(94, 152, 217); 
    --csgo-Mil-spec: rgb(75, 105, 255);     --csgo-High: rgb(75, 105, 255);
    --csgo-Restricted: rgb(136, 71, 255);   --csgo-Remarkable: rgb(136, 71, 255);
    --csgo-Classified: rgb(211, 44, 230);   --csgo-Exotic: rgb(211, 44, 230);
    --csgo-Covert: rgb(187, 15, 15);        --csgo-Extraordinary: rgb(187, 15, 15);
    --csgo-Contraband: rgb(228, 174, 51);


    --csgo-stattrak: rgb(207, 106, 50);
    --csgo-souvenir: rgb(255, 215, 0);

}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: var(--bg-dark-500);
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--bg-dark-1100);
}

::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--main-900);

}

.color-1100{
    color: var(--bright-1100);
}
.color-900{
    color: var(--bright-900);
}
.color-700{
    color: var(--bright-700);
}

.screen-width{
    width: var(--width);
    margin: 0 auto;
}
/* Flex classes */
.d-flex{
    gap: 4px;
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-space-between{
    justify-content: space-between
}
.justify-space-around{
    justify-content: space-around;
}
.trade-petition-item-container{
    background-color: var(--item-bg);
    margin: 0.5rem;
    border-radius: 8px;
    display: flex;
}
.item-image-container{
    position: relative;
    opacity: 0.8;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, rgb(21 73 91 / 55%) 10px ), repeating-linear-gradient( rgb(81 83 87 / 27%), rgb(19, 65, 91));
    border-radius: 8px 0px 0px 8px;
    height: 72px;
    min-width: 72px;
}
.page-title{
    color: var(--bright-1100);
}
.title-h1{
    font-size: 46px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.title-h2{
    font-size: 20px;
    color: #b8b8b8;
    font-weight: 400;
}
.h1-items{
    color: var(--main-1000);
    border-bottom: 1px solid var(--bright-1100);
    text-shadow: 0px 0px 6px rgba(19, 65, 91, 0.5);
}
.thediv{
    width: 80%;
    height: 250px;
}
.someImage{
    height: 100%;
    width: auto;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}
.title-container{
    display: flex;
    width: var(--width);
    margin: 2rem auto;
    margin-top: 4rem;
    gap: 1rem;
}
.last-petitions-title{
    width: var(--width);
    margin: 0.5rem auto;
    font-size: 26px;
    color: var(--bright-1100);
    align-items: center;
}
.swap-icon{
    background-color: var(--bg-dark-1000);
    margin: 0.5rem;
    margin-left: 0rem;
    border-radius: 4px;
}
.text-a-center{
    text-align: center;
}
.hide{
    display: none;
}



@keyframes animatebg{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;        
    }
    100% {
        background-position: 0 50%;        
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    :root {
      --width: 70%;
    }
}
  
@media screen and (min-width: 451px) and (max-width: 800px) {
    :root {
        --width: 85%;
    }
}
  
@media screen and (max-width: 450px) {
    :root {
        --width: 95%;
    }
}

