.laImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: auto;
}
.item-name{
    overflow-wrap: break-word;
}
.sticker-item-info{
    padding: 4px;
}

.item-tag{
    font-size: 14px;
    color: rgb(190, 190, 190);
}
.sticker-item-name{
    color: var(--bright-1100);
}